.footer
  .left_footer
    = image_tag('footer_logo.png', width: 89, height: 42)
  .center_footer Template name. All Rights Reserved 2008
  .right_footer
    = link_to 'home', '#'
    = link_to 'about', '#'
    = link_to 'contact us', '#'