.footer
  .left_footer
    = image_tag('footer_logo.png', width: 89, height: 42)
  .center_footer Tools Shop. All Rights Reserved 2015
  .right_footer
    = link_to 'Home', root_path
    = link_to 'Cart', show_cart_products_path