.right_content
  .shopping_cart
    .title_box Shopping cart
    .cart_details
      3 items
      %br
      %span.border_cart
        Total:
        %span.price 350
    .cart_icon
      = link_to image_tag('shoppingcart.png', width: 35, height: 35), '#'