var cart_el = $('.shopping_cart');
cart_el.find('span.count').text('0 Items in the cart');
cart_el.find('span.price').text('0,00 $');
$('.prod_box_big').html('<div class="center_prod_box_big">Your cart is empty.</div>');
$('.clear_cart').hide();
